<a
  role="button"
  tabindex="0"
  aria-pressed="false"
  [routerLink]="['/course/detail', course.id]"
>
  <div
    class="relative group"
    *ngIf="currentEnrollment$ | async as currentEnrollment"
  >
    <!-- if enrolled, display the corner ribbon -->
    <app-ribbon-enrolled
      *ngIf="currentEnrollment.currentlyEnrolled"
    ></app-ribbon-enrolled>
    <div
      class="
        p-2
        block
        shadow-md
        rounded-lg
        overflow-hidden
        bg-white
        group-hover:shadow-xl
      "
    >
      <div class="relative pb-16 w-40 overflow-hidden">
        <div
          class="
            absolute
            h-full
            w-full
            bg-no-repeat bg-contain bg-center
            z-0
            group-hover:transition-opacity group-hover:grayscale-[50]
          "
          [ngStyle]="{ backgroundImage: 'url(' + course.image + ')' }"
        ></div>
      </div>

      <div class="relative h-46 w-40">
        <app-chip *ngFor="let tag of course.tags" [text]="tag.name"></app-chip>
        <div class="text-xs h-full">
          <div class="p-2 h-16">
            <h2 class="mt-1 mb-1 font-bold">
              {{ course.name | truncate: 25 }}
            </h2>
          </div>
          <div class="p-2 border-t border-b text-xs text-gray-700">
            <app-course-date label="Published" [data]="course.datePublished"></app-course-date>
            <app-course-date label="Updated" [data]="course.dateUpdated"></app-course-date>
            <!-- <span class="flex items-center">
              <i class="fa fa-clock-o mr-2 text-gray-900"></i>
              Published: {{ course.datePublished | date: 'dd MMM YYYY' }}
            </span>
            <span class="flex items-center mb-1">
              <i class="fa fa-clock-o mr-2 text-gray-900"></i>
              Updated: {{ course.dateUpdated | date: 'dd MMM YYYY' }}
            </span> -->
          </div>
          <app-rating-stars
            [rating]="course.rating"
            [maxRating]="maxRating"
          ></app-rating-stars>
        </div>
      </div>
    </div>
  </div>
</a>
