<footer class="hidden sm:block sm:visible">
  <div class="flex flex-row justify-around bg-[#36414b]">
    <div
      *ngFor="let item of footerItems"
      class="p-5 flex-col text-xs md:text-sm pt-[10px] text-[#a5a1a1]"
    >
      <div class="pb-2" [innerHTML]="item.item"></div>
      <ul class="text-[#d8d1d1] text-xs space-y-1 md:space-y-2">
        <li
          *ngFor="let subItem of item.children"
          [innerHTML]="subItem.item"
        ></li>
      </ul>
    </div>
  </div>
  <div
    class="
      flex flex-row
      justify-around
      bg-white
      bottom-0
      text-xs
      font-bold
      text-gray-500
    "
  >
    <div
      *ngFor="let item of bottomItems"
      class="text-xs px-5 md:px-3"
      [innerHTML]="item"
    ></div>
  </div>
</footer>
