
.form-control {
  // h-10
  height: 2.5rem;

  // text-xs
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  
  // bg-white
  background-color: white;

  // text-gray-700
  color: #374151;

  // border
  border-width: 1px;

  // border-solid
  border-style: solid;

  // border-blue-700
  border-color: rgb(29 78 216);

  // rounded;
  border-radius: 0.25rem;
}
